body{
  font-family: 'Open Sans', sans-serif;
}

[class*="col-"] {
  /* border: 1px solid black; */
  /* height: 300px; */
}

/* General */
.container-grigio{
  background-color: #FAFAFA;
}

/* Header */
header{
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}
header .logo img{
  height: 15px;
}
header .row{
  line-height: 50px;
  /* background-color: lightyellow; */
}
header nav ul li a{
  text-transform: uppercase;
  color: black;
  font-size: 12px;
}
header .primary-nav li a{
  margin: 0px 15px;
}
header .secondary-nav button{
  margin-left: 15px;
  border-radius: 0px;
  background-color: black;
  color: white;
  padding: 5px 15px;
}
header ul li i{
  margin-left: 5px;
}
header ul li.lingua{
  border-right: 1px solid black;
  border-left: 1px solid black;
  line-height: normal;
}
header .secondary-nav .menu{
  display: none;
}


/* Main */

/* Prima Sezione */
.prima-sezione .col-lg-12{
  margin-top: 100px;
}
.prima-sezione h1{
  font-size: 100px;
  font-weight: bold;
  color: black;
  margin: 75px 0px;
}
.prima-sezione img{
  width: 100%;
}

/* Seconda Sezione */
.seconda-sezione h3{
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 5px;
  padding: 50px 0px 15px 0px;
}
.seconda-sezione p{
  font-size: 20px;
  padding: 10px 15px 35px 15px;
}
.seconda-sezione a{
  color: #0070C8;
  font-size: 20px;
}
.seconda-sezione i{
  margin-left: 5px;
}
.seconda-sezione .container-grigio{
  height: 675px;
  position: relative;
}
.seconda-sezione img{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
}

/* Terza Sezione */
.terza-sezione{
  height: 600px;
  background-color: yellow;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: 20% center;
  margin-top: 50px;
}
.terza-sezione .container-sezione3{
  width: 80%;
  margin: auto;
}

.terza-sezione img{
  width: 280px;
}
.terza-sezione h3{
  font-size: 40px;
  font-weight: bold;
}
.terza-sezione h5{
  font-size: 20px;
  font-weight: 600;
}
.terza-sezione p{
  font-size: 20px;
}
.terza-sezione .prima-colonna,
.terza-sezione .terza-colonna {
  margin-top: 650px;
}
.terza-sezione .seconda-colonna{
  margin-top: 250px;
}
.terza-sezione .seconda-colonna img{
  /* background-color: white; */
}
.terza-sezione .come-funziona-displaynone{
  display: none;
}

/* Quarta Sezione */
.quarta-sezione{
  margin-top: 300px;
}
.quarta-sezione h5{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 45px 15px;
}
.quarta-sezione h3{
  font-size: 45px;
  font-weight: bolder;
  margin-left: 15px;
}
.quarta-sezione p{
  width: 85%;
  font-size: 25px;
  margin: 45px 15px;
}
.quarta-sezione a{
  text-decoration: none;
  color: black;
  margin-left: 15px;
  font-size: 20px;
}
.quarta-sezione i{
  margin-left: 5px;
}
.quarta-sezione .monopattino-displaynone{
  display: none
}

.quinta-sezione{
  margin-top: 100px;
}
.quinta-sezione h3{
  font-size: 50px;
  color: white;
  width: 85%;
  margin: auto;
  font-weight: bolder;
  padding-top: 50px;
}
.quinta-sezione img{
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.quinta-sezione .container-monopattino,
.quinta-sezione .container-motorino{
  width: 95%;
  margin: auto;
  min-height: 600px;
  position: relative;
}
.quinta-sezione .container-monopattino{
  background-color: #48BEE9;
}
.quinta-sezione .container-motorino{
  background-color: #FFD30D;
}

.quinta-sezione



/* Footer */



/* Media Query */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .secondary-nav button{
    margin-left: 10px;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header .primary-nav,
  header .secondary-nav .list-inline{
    display: none;
  }
  header .secondary-nav .menu{
    display: block;
  }

  .prima-sezione h1{
    font-size: 60px;
  }

  .seconda-sezione img{
    width: 55%;
    left: 150px;
  }
  .terza-sezione h3{
    font-size: 30px;
  }
  .terza-sezione .prima-colonna{
   display: none;
 }
 .terza-sezione .come-funziona-displaynone{
   display: block;
 }

.quarta-sezione{
  margin-top: 400px;
}
 .quarta-sezione .prima-colonna{
   display: none;
 }
 .quarta-sezione .monopattino-displaynone{
   display: block;
 }
}

@media screen and (max-width: 767px) {
  header .primary-nav,
  header .secondary-nav .list-inline{
    display: none;
  }
  header .secondary-nav .menu{
    display: block;
  }

  .seconda-sezione img{
    width: 55%;
    left: 150px;
  }
  .terza-sezione .prima-colonna{
   display: none;
 }
 .terza-sezione .come-funziona-displaynone{
   display: block;
 }
 .terza-sezione .terza-colonna{
   margin-top: 0;
 }
 .quarta-sezione{
   margin-top: 400px;
 }
  .quarta-sezione .prima-colonna{
    display: none;
  }
  .quarta-sezione .monopattino-displaynone{
    display: block;
  }

  .quinta-sezione .container-monopattino,
  .quinta-sezione .container-motorino{
    min-height: 750px;
    margin: 30px 0px;
  }

}
